In [16]:
import pandas as pd
import xlwt
import xlrd
from xlutils.copy import copy

In [85]:
file = 'BloomChoi Coding Training Transcript 2.xlsx'

In [86]:
script = pd.read_excel(file, header=None)

In [88]:
child_code = '*CHI:'

script_child = script[script[1] == child_code]

In [89]:
script_child

         0      1                                                  2
22      22  *CHI:                                   no . •3215_3935•
30      30  *CHI:                                   no . •6545_7128•
42      42  *CHI:                          no no yyy . •11628_18621•
52      52  *CHI:                                 no . •25863_26766•
58      58  *CHI:                have some breakfast . •29886_37770•
...    ...    ...                                                ...
3069  3069  *CHI:              there's a big one . •2723850_2725055•
3075  3075  *CHI:                     stir it in . •2728966_2732681•
3078  3078  *CHI:  wanna [: wanna] have some milk . •2732681_2734...
3084  3084  *CHI:                         please . •2735473_2736480•
3090  3090  *CHI:                           milk . •2739750_2740821•

[403 rows x 3 columns]

In [6]:
#data_child.to_excel(r'/Users/francescaabulencia/Desktop/CLPS/BloomChoi Coding Training Transcript 2 - Child Utterance.xlsx', index = False, header=False, sheet_name= "Children's Utterances")

In [76]:
negation = ["no ", "not ", "can't ", "cannot ", "don't ", "n't ", "all gone ", 
            "nomore ", "allgone ", "none ", "gone ", "never ", "nope ", "nothing ", "lost ", "dunno ", 
            "nah ", "disappear", "uh uh ", "isn't ", "nowhere ", "stop ", "no:"]

len(negation)

23

In [90]:
script_child_neg = pd.DataFrame()

#mask = data_child[2].str.contains(negation[1], case=False, na=False)

for i in range(len(negation)):
    mask = script_child[2].str.contains(negation[i], case=False, na=False)
    script_child_neg = script_child_neg.append(script_child[mask])

In [91]:
script_child_neg[0] = script_child_neg[0].astype('str')

script_child_neg = script_child_neg.sort_index()

In [92]:
script_child_neg[3] = str(script_child_neg[0]) + ": "
script_child_neg[3] = script_child_neg[[0, 2]].apply(lambda x: ': '.join(x), axis=1)

script_child_neg[4] = script_child_neg[3].str.split('.').str[0]

script_child_neg = script_child_neg[4]

In [93]:
script_child_neg = pd.DataFrame(script_child_neg)

script_child_neg = script_child_neg.rename(columns={script_child_neg.columns[0]: "Utterance"})

In [94]:
master_column_names = ["Bloom",
                       "Choi",
                       "Certain - Bloom",
                       "Certain - Choi",
                       "Other Possibility - Choi",
                       "Other Possibility - Bloom",
                       "Is it definitely one of those two? - Bloom"
                       "Is it definitely one of those two? - Choi",
                       "Comments"]

script_child_neg = script_child_neg.reindex(columns = script_child_neg.columns.tolist() + master_column_names)

script_child_neg

,Utterance,Bloom,Choi,Certain - Bloom,Certain - Choi,Other Possibility - Choi,Other Possibility - Bloom,Is it definitely one of those two? - BloomIs it definitely one of those two? - Choi,Comments
22,22: no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,30: no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,42: no no yyy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52: no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,120: no no has e [: a] bibble_wibble,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,126: no no bibble_wibble,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,294: no no achoo achoo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,341: &=whines don't like the coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,341: &=whines don't like the coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,479: not hot now [?],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,615: living room door isn't open [?],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,615: living room door isn't open [?],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697,697: no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
700,700: no french song,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1032,1032: stop tit [: it] please,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1035,1035: stop tit [: it],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2187,2187: no:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2333,2333: wheel not came off,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2694,2694: +< nene [: wanna] no no pj pants on,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2739,2739: no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2745,2745: no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2988,2988: dau+au [: Nathaniel] no no bib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
#data_child_neg.to_excel(r'/Users/francescaabulencia/Desktop/CLPS/BloomChoi Coding Training Transcript 2 - Child Utterance Neg.xlsx', index = False, header=False, sheet_name= "Children's Utterances")

In [82]:
#excel_names = ["BloomChoi Coding Training Transcript 2.xlsx", 
#               "BloomChoi Coding Training Transcript 2 - Child Utterance.xlsx", 
#               "BloomChoi Coding Training Transcript 2 - Child Utterance Neg.xlsx"]


master_filename = "BloomChoi Coding Training Transcript 2_FA.xlsx"

sheet_name = ["Script", "Children's Utterance", "Coding"]

In [95]:
writer = pd.ExcelWriter(master_filename, engine='xlsxwriter')

script.to_excel(writer, sheet_name = sheet_name[0], header = False, index=False)
script_child.to_excel(writer, sheet_name = sheet_name[1], header = False, index=False)
script_child_neg.to_excel(writer, sheet_name = sheet_name[2], header = True, index=False)

writer.save()